on boot
    setprop ro.boot.vbmeta.avb_version 1.1
    setprop ro.boot.avb_version 1.1

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

    export ANDROID_ROOT /system_root

service unified-script /system/bin/unified-script.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

on boot
    chmod 0777 /system/bin/unified-script.sh
    start unified-script